{% extends "layout/layout.html" %}

{% block content %}
    <div class="container py-5 min-vh-100">
        <div class="row mt-5">
            <div class="col-12 text-center">
                <h5>Hello, world. You're at the Music Summary Box.</h5>
            </div>
        </div>
        <div class="row my-2 justify-content-center">
            <div class="col-3 text-center">
                {% if not user.is_authenticated %}
                    <a class="btn btn-primary btn-block" href="{% url 'login' %}">Login</a>
                {% else %}
                    <a class="btn btn-primary btn-block" aria-current="page" href="{% url 'summarize' %}">Summarize</a></li>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}